<div class="page">
    <br><br><br><br><br>
		<div class=" card container ">
			<div class="card-body">
				<h4 class="card-title">
					<label for="field-signUp">Signup</label>
				</h4>
				<form [formGroup]="signUpForm" (submit)="this.userService.addUser(signUpForm.value)">
					<div class="form-row">	
                    </div>
                    <div class="form-row">	
                        <div class="alert-danger col-12 px-auto" *ngIf="!this.userService.userExists">
                            Username already exists
                        </div>
                    </div>
					<div class="form-row">
						<div class="form-group col-lg-6 col-md-6">
                            <label for="inputName1">First Name</label> 
                            <input type="text" class="form-control" id="firstname"  formControlName="firstname"  placeholder="Enter First Name">
                            <div class="text-danger" *ngIf="firstname.invalid && firstname.errors.required && firstname.touched">First Name is required</div>
						</div>
						<div class="form-group col-lg-6 col-md-6">
                            <label for="inputName3">Last Name</label> 
                            <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="Enter Last Name">
                            <div class="text-danger" *ngIf="lastname.invalid && lastname.errors.required && lastname.touched">Last Name is required</div>
						</div>
                    </div>
                    <div class="form-row">
                            <div class="form-group col-lg-4 col-md-4">
                                <label for="inputName1">Age</label> 
                                <input type="number" class="form-control" id="age" placeholder="Enter Age" formControlName="age">
                                <div class="text-danger" *ngIf="age.invalid && age.errors.required && age.touched">Age is required</div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4">
                                <label for="field-inlineFormCustomSelect">Gender</label> 
                                <select class="form-control" placeholder="Select gender" formControlName="gender" id="gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                 </select>  
                                 <div class="text-danger" *ngIf="gender.invalid && gender.errors.required && gender.touched">Select gender</div>               
                            </div>
                            <div class="form-group col-lg-4 col-md-4">
                                <label for="inputName3">Contact Number</label> 
                                <input type="number" class="form-control" id="contactNumber" placeholder="Enter number" formControlName="contactNumber">
                                <div class="text-danger" *ngIf="contactNumber.invalid && contactNumber.errors.required && contactNumber.touched">Contact Number is required</div>
                            </div>
                        </div>
					<div class="form-row">
                        <div class="form-group col-lg-4 col-md-4">
                            <label for="inputName1">UserId</label> 
                            <input type="text" class="form-control" id="userId" placeholder="Enter UserId" formControlName="userId">
                            <div class="text-danger" *ngIf="userId.invalid && userId.errors.required && userId.touched">Contact Number is required</div>
                        </div>
						<div class="form-group col-lg-4 col-md-4">
                            <label for="inputPassword2">Password</label> 
                            <input type="password" class="form-control" id="password"	placeholder="Enter Password" formControlName="password">
                            <div class="text-danger" *ngIf="password.invalid && password.errors.required && password.touched">Password is required</div>
						</div>
						<div class="form-group col-lg-4 col-md-4">
                            <label for="inputPassword3">Confirm Password</label> 
                            <input type="password" class="form-control" id="confirmPassword" placeholder="Enter Confirm Password" formControlName="confirmPassword">
                            <div class="text-danger" *ngIf="confirmPassword.invalid && confirmPassword.errors.required && confirmPassword.touched">Confirm the Password</div>
                            <div class="text-danger" *ngIf="signUpForm.get('confirmPassword').hasError('nomatch')">Password and Confirm Password do not match</div>
						</div>
                    </div>
                    <div class="form-row">
						<div class="form-group col-lg-3 col-md-3">
                            <label for="inputName1">UserType</label> 
                            <select class="form-control" placeholder="Select User Type" formControlName="userType" id="userType">
                                <option>Customer</option>
                                <option>Store Manager</option>
                             </select> 
                            <div class="text-danger" *ngIf="userType.invalid && userType.errors.required && userType.touched">User Type is required</div>
						</div>
                    </div>
                    <button type="submit" class="btn btn-success" [disabled]="!signUpForm.valid">Signup</button>
				</form>
			</div>
		</div>
    </div>